@page "/"
@inject TrackedGameService TrackedGameService
@inject NavigationManager NavigationManager

<PageTitle>Track game</PageTitle>

<div class="container-fluid mt-3 text-light">
    <form method="post" @onsubmit="Submit" @formname="track-new-game-form">
        <AntiforgeryToken />
        <div class="row gap-3">
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <h3>General</h3>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <InputRadioGroup @bind-Value="Game!.Map">
                            @foreach (var map in TrackedGameService.Maps)
                            {
                                <div class="row">
                                    <div class="form-check">
                                        <InputRadio Value="map.Key" class="form-check-input" id="@($"{map.Key}Input")" />
                                        <label class="form-check-label" for=@($"{map.Key}Input")>
                                            @map.Value
                                        </label>
                                    </div>
                                </div>
                            }
                            </InputRadioGroup>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Game!.Drafting" class="form-check-input" type="checkbox" id="draftingInput" />
                                    <label class="form-check-label" for="draftingInput">
                                        Drafting
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <h3>Expansions</h3>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Game!.CorporateEra" class="form-check-input" type="checkbox" id="corpEraInput" />
                                    <label class="form-check-label text-nowrap" for="corpEraInput">
                                        Corporate Era
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Game!.Prelude" class="form-check-input" type="checkbox" id="preludeInput" />
                                    <label class="form-check-label" for="preludeInput">
                                        Prelude
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Game!.Promos" class="form-check-input" type="checkbox" id="promosInput" />
                                    <label class="form-check-label" for="promosInput">
                                        Promos
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Game!.Colonies" class="form-check-input" type="checkbox" id="coloniesInput" />
                                    <label class="form-check-label" for="coloniesInput">
                                        Colonies
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Game!.VenusNext" class="form-check-input" type="checkbox" id="venusNextInput" />
                                    <label class="form-check-label no-wrap" for="venusNextInput">
                                        Venus Next
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-check">
                                <InputCheckbox @bind-Value="Game!.Turmoil" class="form-check-input" type="checkbox" id="turmoilInput" />
                                <label class="form-check-label" for="turmoilInput">
                                    Turmoil
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <h3>Players</h3>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Game!.JV" class="form-check-input" type="checkbox" id="jvInput" />
                                    <label class="form-check-label" for="jvInput">
                                        JV
                                    </label>
                                </div>
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Game!.T" class="form-check-input" type="checkbox" id="tInput" />
                                    <label class="form-check-label" for="tInput">
                                        T
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Game!.GM" class="form-check-input" type="checkbox" id="gmInput" />
                                    <label class="form-check-label" for="gmInput">
                                        GM
                                    </label>
                                </div>
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="Game!.H" class="form-check-input" type="checkbox" id="hInput" />
                                    <label class="form-check-label" for="hInput">
                                        H
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="row">
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>

@code {
    [SupplyParameterFromForm()]
    public TrackedGame? Game { get; set; }

    protected override void OnInitialized() => Game ??= new();

    private async Task Submit()
    {
        if(Game is not null)
            Game.StartedAt = DateTime.UtcNow;

        await TrackedGameService.CreateGame(Game);
        NavigationManager.NavigateTo("/games", false);
    }
}
